@font-face {
    font-family: Regular;
    src: url(../assets/font/GoogleSans-Regular.otf);
}

@font-face {
    font-family: Medium;
    src: url(../assets/font/GoogleSans-Medium.otf);
}

@font-face {
    font-family: Light;
    src: url(../assets/font/GoogleSans-Light.otf);
}

@font-face {
    font-family: Bold;
    src: url(../assets/font/GoogleSans-Bold.otf);
}

@font-face {
    font-family: Black;
    src: url(../assets/font/GoogleSans-Black.otf);
}
