.pagination{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
    padding: 0.75em;
    border-top: 0.0625em solid #9e9d89;
}

.pagination a{
    display: inline-block;
    margin: 0.1875em;
    background-color: #e9ebee;
    width: 1.875em;
    height: 1.875em;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
    line-height: 1.875em;
    color: black;
}

.pagination a:focus{
    background-color: #019160;
    color: white;
}