.form-detail{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.form-wrap{
    background: #808080cf;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.form{
    width: 600px;
    height: 700px;
    background: white;
    padding: 20px;
    border-radius: 4px;
}

.input-section{
    display: flex;
}

input[type=radio] {
    border: 0px;
    width: 100px;
    height: 32px;
}
.gender{
    display: flex;

}

.employee-info{
    display: flex;
}

.input-field{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}