.form-detail{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.form-wrap{
    background: #808080cf;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.form{
    width: 37.5em;
    height: 50em;
    background: white;
    padding: 1.25em;
    border-radius: 0.25em;
}