.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #9e9d89;
}

.info{
    display: flex;
    align-items: center;
    margin: 12px 10px 12px 16;
    font-size: 0.875em;
}
.cb-box select{
    font-family: Bold;
}

.cb-box{
    margin: 10px 16px;   
}

.avatar{
    width: 24px;
}

.info>p{
    margin: auto 16px;
}
.info-option{
    margin-right: 16px;
    background-color: #ffffff;
    border: none;
}

.header-table{
    display: flex;
    flex-direction: column;
}