@font-face {
    font-family: "GoogleSans";
    src: url("../font/GoogleSans-Regular.otf");
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'GoogleSans', sans-serif;
}
  
.main-content{
    display: flex;
    height: 100vh;
}
html, body {
    height: 100%;
}
.header-table{
    width: 100%;
}

button:hover{
    cursor: pointer;
}

select{
    padding: 0.3125em 0.625em;
    font-style: normal;
    border: 0.0625em solid #9e9d89;
    border-radius: 0.3125em;
    font-size: 0.75em;
    height: 2.25em;
}

select-selected {
    background-color: green;
}

table{
    border-collapse:collapse
}

td{
    border-bottom: 0.0625em solid #9e9d89;
}

th{
    border-bottom: 0.0625em solid #9e9d89;
}

a:hover{
    cursor: pointer;
}

