.toggle-btn{
    margin: 0.75em 0.625em 0.75em 1em;
}

.logo{
    margin: 0.3125em;
}
.navbar{
    display: flex;
    flex-direction: column;
    border-right: 0.0625em solid #9e9d89;
    width: 20em;
    height: 100%;
    font-size: 0.8125em;
}
a>span{
    margin:0.3125em;
    font-size: 15px;
}

.navbar-content>ul{
    display: flex;
    flex-direction: column;
}

.navbar-content li:hover{
    background-color: #e5e5e5;

}


li>a{
    display: flex;
    align-items: center;
    padding: 0.75em 0.625em 0.75em 1em;
}
ul>li{
    
    list-style-type: none;
}

.nav-items{
    width: 1.25em;
    margin-right: 0.3125em;
}
.logoico{
    border:none;
    background-color: #ffffff;
}