.sub-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-heading h3{
    margin: 0.9375em;
}

.add-employee{
    background-color: #019160;
    border-radius: 0.25em;
    font-size: 0.8125em;
    color: #ffffff;
    padding: 1.75em;
    height: 2.5em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    border: none;
    margin: 1em;
}

.add-employee:hover{
    background-color: #2FBE8E;
}
