table{
    width: 100%;
}


.data th{
    font-weight: 700;
}

.data th, td{
    padding: 0.625em;
    text-align: left;
}

.data{
    margin: 1em 1em 0 1em;
    
}

tr:nth-child(even){
    background-color: #fafafa;
}