table{
    width: 100%;
}


.table td{
    font-family: 'Regular';
}

tbody {
    height: 67vh;
    overflow: auto;
}
table{
    width: 100%;
    overflow-x: auto;
}

th, td {
    flex: 1 0 10em;
    padding: 16px;
    text-align: left;
    font-family: Medium;
    font-size: 13px;
}
thead, tbody{
    display: flex;
    flex-direction: column;
}
tr{
    display: flex;
    flex: 1 0;
}

.data{
    margin: 16px 16px 0 16px;
}

tr:nth-child(even){
   background-color: #f4f4f4;
}

tr:hover{
    background-color: #D2D2D2;
}
 