
.refresh{
    margin-right: 1em;
    background-color: #ffffff;
    border: 0.0625em solid #9e9d89;
    border-radius: 0.3125em;
    padding: 0;
    background-image: url("/icon/refresh.png");
    background-size: cover;
    width: 1.875em;
    height: 1.875em;
}



form{
    display: flex;
    justify-content: space-between;
}


input{
    border: 0.0625em solid #9e9d89;
    border-radius: 0.3125em;
    font-size: 0.75em;
    color: #9e9d89;
    height: 2.25em;
    margin: auto 1em;
    width: 18.75em;
}

.left>select{
    margin-right: 1em;
}
