.refresh{
    margin-right: 16px;
    background-color: #ffffff;
    border: 1px solid #9e9d89;
    border-radius: 5px;
    padding: 0;
    background-image: url("../icon/refresh.png");
    background-size: cover;
    width: 30px;
    height: 30px;
}

form{
    display: flex;
    justify-content: space-between;
}

input{
    border: 1px solid #9e9d89;
    border-radius: 5px;
    font-size: 13px;
    color: #9e9d89;
    height: 36px;
    margin: auto 16px;
    width: 300px;
}

.left>select{
    margin-right: 16px;
}
